<nav class="main-navbar">
    <md-toolbar color="primary">
        <a md-button routerLink="/"><span id="brand-name">{{ brandName }}</span></a>
        <span class="flex-toolbar"></span>
        <button md-icon-button [mdMenuTriggerFor]="menu">
      <md-icon>more_vert</md-icon>
    </button>
        <md-menu #menu="mdMenu">
            <a routerLink="settings" md-menu-item>
                <md-icon>settings</md-icon>
                <span>Settings</span>
            </a>
            <a routerLink="help" md-menu-item>
                <md-icon>help</md-icon>
                <span>Help</span>
            </a>
            <a (click)="logout()" md-menu-item>
                <md-icon>person</md-icon>
                <span>Logout</span>
            </a>
        </md-menu>
    </md-toolbar>
</nav>